/GEN_projet_maven_project/target
/GEN_projet/target/*
/GEN_projet/target/*/
*/.idea/*
*.iml
/protocole_client_server/prototype/ClientServerTCP/nbproject/private/
/GEN_projet_maven_project/server/target/
/GEN_projet_maven_project/protocol/target/
/GEN_projet_maven_project/nbactions.xml
/GEN_projet_maven_project/nb-configuration.xml
/GEN_projet_maven_project/client/target/
/GEN_projet/.nb-gradle/
